/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 50px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}

.gallery,
.mesProjetsBody {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img,
.mesProjetsBody img {
	width: 100%;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* !!! MON CODE COMMENCE ICI !!! */

/* Sommaire : */
/* - ligne : PARAMETRES GENERIQUES */
/* - ligne : PARAMETRES PRECIS */
/* - ligne : Bandeau "Mode édition" */
/* - ligne : Liens de navigation */
/* - ligne : Liens de navigation  */
/* - ligne : Description de Sophie Bluel */
/* - ligne : Titre "Mes projets" et modificateur */
/* - ligne : Boutons des catégories */

/* ////////// PARAMETRES GENERIQUES ////////// */

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #B1663C;
}

main {
	margin: 0px 150px;
}

/* ////////// PARAMETRES PRECIS */

/* ----- Bandeau "Mode édition" ----- */
.modeEdition {
	align-items: center;
	background-color: black;
	display: none;
	gap: 10px;
	justify-content: center;
	padding: 10px 0px 10px 0px;
	width: 100vw;
	margin-left: calc(-1*((100vw - 100%)/2));
}

.modeEdition img {
	filter: invert(1);
	width: 25px;
}

.modeEdition p {
	color: white;
}

.modeEdition button {
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-family: 'Work Sans' ;
	padding: 10px 15px 10px 15px;
	transition: scale 0.1s ease-in-out;
}

.modeEdition button:hover {
	scale: 1.05;
}

.modeEdition button:active {
	scale: 0.9;
}

/* ----- Liens de navigation ----- */
.listeNavigation {
	align-items: center;
	display: flex;
	font-size: 16px;
	gap: 35px;
}

.logoInstagram {
	height: 20px;
}

/* ----- Image de profil ----- */
#introduction img {
	margin: 0;
}

.modificationImageProfile {
	align-items: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: none;
	font-family: 'Work Sans' ;
	gap: 10px;
	padding: 5px 0px 0px 0px;
	transition: scale 0.1s ease-in-out;
	width: auto;
}

.modificationImageProfile:hover {
	scale: 1.05;
}

.modificationImageProfile:active {
	scale: 0.9;
}

.modificationImageProfile img {
	height: 15px;
}

/* ----- Description de Sophie Bluel ----- */
.descriptionSophieBluel {
	margin-bottom: 20px;
}

.modificationTexteIntroduction {
	align-items: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: none;
	font-family: 'Work Sans' ;
	gap: 10px;
	padding: 5px 0px 25px 0px;
	transition: scale 0.1s ease-in-out;
	width: auto;
}

.modificationTexteIntroduction:hover {
	scale: 1.05;
}

.modificationTexteIntroduction:active {
	scale: 0.9;
}

.modificationTexteIntroduction img {
	height: 15px;
}

/* ----- Titre "Mes projets" et modificateur ----- */
.conteneurTitreEtModificationProjets {
	display: flex;
	justify-content: center;
}

.titreEtModificationProjets {
	align-items: center;
	display: flex;
}

.titreEtModificationProjets h2 {
	width: 295px;
}

.modificationImageProjets {
	align-items: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: none;
	font-family: 'Work Sans' ;
	gap: 10px;
	padding: 0px 0px 0px 0px;
	transition: scale 0.1s ease-in-out;
	width: auto;
}

/* .modificationImageProjets:hover {
	scale: 1.05;
} */

.modificationImageProjets:active {
	scale: 0.9;
}

.modificationImageProjets img {
	height: 15px;
}

/* ----- Modale Mes Projets ----- */

.arrierePlanGris {
	animation: arriereGrisonnant 0.5s ease-in-out alternate;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
}

@keyframes arriereGrisonnant {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.apparenceModales {
	animation: modaleOuverture 0.5s;
	background-color: white;
	border-radius: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	display: none;
	padding: 20px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
}

@keyframes modaleOuverture {
	0% {
		top: -100%;
		opacity: 0;
	}
	100% {
		top: 50%;
		opacity: 1;
	}
}

.ouvertureModales {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.flecheRetour {
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	left: 8px;
	transition: 0.3s ease-in-out;
	top: 8px;
}

.flecheRetour img {
	height: 25px;
}

.flecheRetour:hover {
	transform: scale(1.3);
}

.croixFermetureModales {
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 8px;
	transition: 0.3s ease-in-out;
	top: 8px;
}

.croixFermetureModales img {
	height: 25px;
}

.croixFermetureModales:hover {
	transform: scale(1.8);
}

.apparenceModalesMesProjets {
	height: 65%;
}

.mesProjetsHeader {
	align-items: center;
	display: flex;
	margin: 0;
	padding: 25px 0px 35px 0px;
}

.mesProjetsHeader h3 {
	font-size: 26px;
}

.mesProjetsBody {
	border-bottom: 1px solid #B1663C;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-bottom: 25px;
	overflow-y: scroll;
	padding-bottom: 25px;
	width: 90%;
}

.mesProjetsBody img {
	width: 100%;
}

.conteneurImages {
	position: relative;
	display: inline-block;
}

.supprimerPhoto {
	align-items: center;
	background-color: black;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	padding: 5px;
	position: absolute;
	right: 5px;
	text-decoration: none;
	top: 5px;
	z-index: 1;
}

.supprimerPhoto img {
	width: 15px;
	filter: invert(100%);
}

.deplacerPhoto {
	align-items: center;
	background-color: black;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	padding: 5px;
	position: absolute;
	right: 35px;
	text-decoration: none;
	top: 5px;
	z-index: 1;
}

.deplacerPhoto img {
	width: 15px;
	filter: invert(100%);
}

.mesProjetsFooter {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.boutonAjouter {
	background-color: #1D6154;
	border: none;
	border-radius: 15px;
	color: white;
	cursor: pointer;
	font-family: 'Work Sans' ;
	padding: 10px 50px 10px 50px;
	transition: scale 0.1s ease-in-out;
}

.boutonAjouter:active {
	scale: 0.9;
}

.boutonSupprimer {
	background-color: transparent;
	border: none;
	color: #B1663C;
	cursor: pointer;
	font-family: 'Work Sans' ;
	transition: scale 0.1s ease-in-out;
}

.boutonSupprimer:active {
	scale: 0.9;
}

/* ----- Modale Ajouter Images ----- */

.AjouterImagesHeader h3 {
	font-size: 26px;
}

.AjouterImagesBody {
	border-bottom: 1px solid #CBD6DC;
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding-bottom: 50px;
	width: 90%;
}

.ajouteTonImage {
	align-items: center;
	background-color:#E8F1F6;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: auto;
	justify-content: center;
	padding: 10px 0px 10px 0px;
	width: 100%;
}

#defaultImage {
	filter: contrast(10%);
	max-width: 20%;
	opacity: 0.5;
}

#previewImage {
	width: 30%;
}

.personnalisationInputImage {
	background-color: #CBD6DC;
	border: none;
	border-radius: 50px;
	color: #306685;
	cursor: pointer;
	display: inline-block;
	padding: 10px 40px;
	transition: 0.25s ease-in-out;
}

.personnalisationInputImage:hover {
	scale: 1.05;
}

.saisirImage {
	display: none;
}

.saisirImage {
	background-color: #CBD6DC;
	width: 90%;
}

.leTitreDeTonImage h4 {
	margin-bottom: 10px;
}

.leTitreDeTonImage input {
	border: none;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
	font-family: 'Work Sans' ;
	font-size: 17px;
	height: 85%;
	padding: 0;
	width: 100%;
}

.laCategorieDeTonImage h4 {
	margin-bottom: 10px;
}

.laCategorieDeTonImage select {
	border: none;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
	font-family: 'Work Sans' ;
	font-size: 17px;
	height: 85%;
	width: 100%;
}

.AjouterImagesFooter {
	margin-top: 30px;
}

.boutonValider {
	background-color: #A7A7A7;
	border: none;
	border-radius: 60px;
	color: white;
	cursor: pointer;
	font-family: 'Work Sans' ;
	padding: 10px 75px 10px 75px;
}

/* ----- Boutons des catégories ----- */
.category {
	display: flex;
	gap: 15px;
	justify-content: center;
	margin-bottom: 35px;
}

.classBoutonTous {
	background: #1D6154;
	border: none;
	border-radius: 15px;
	color: white;
	cursor: pointer;
	padding: 5px 20px 5px 20px;
	font-weight: 700;
	font-size: 16px;
	transition: scale 0.5s ease-in-out;
}

.classBoutonTous:hover {
	scale: 1.02;
}

.classBoutonTous:active {
	scale: 0.5;
}

.classBoutonCategories {
	background: transparent;
	border: 1px solid #1D6154;
	border-radius: 15px;
	color: #1D6154;
	cursor: pointer;
	padding: 5px 20px 5px 20px;
	font-weight: 700;
	font-size: 16px;
	transition: scale 0.3s ease-in-out;
}

.classBoutonCategories:hover {
	scale: 1.02;
}

.classBoutonCategories:active {
	scale: 0.5;
}

@media (min-width: 1440px) {
	body:not(.modeEdition) {
	  max-width: 1440px;
	  margin: auto;
	}
  }